body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container {
  max-height: 90vh;
  max-width: 90vh;
  border: 1pt solid gray;
  display: flex;
  flex-wrap: wrap;
}
.pixel {
  box-sizing: border-box;
  flex: 1;
}

.filled {
}
